:host {
  display: none;
}

:host(.active) {
  display: block;
}

.ui {
  &.segment {
    position: relative;
    transition: all 0s linear;
    /*
    background: #fff;

    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    border: 1px solid rgba(34, 36, 38, 0.15);
    cursor: default;
    pointer-events: none;
    */

    &.loading {
      min-height: 200px;
      text-shadow: none !important;
      color: transparent !important;
    }
  }
}

$loading-border-color1: #09809c;
.ui.loading.segment:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 0.28571429rem;
  z-index: 100;
}

.ui.loading.segment:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0 0 -1.5em;
  width: 3em;
  height: 3em;
  animation: segment-spin 0.6s linear;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: $loading-border-color1 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0 0 0 1px transparent;
  visibility: visible;
  z-index: 101;
}

@-webkit-keyframes segment-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes segment-spin {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ui.basic.segment {
  background: none transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}
