/**
* @prop --ns-theme-drawer-background-color: Color of the drawer background
* @prop --ns-theme-drawer-border-color: Color of the drawer border
* @prop --ns-theme-drawer-width: Width of the drawer
*/

$drawer-width: 320px;

$prefix: 'theme';

$drawer-background-color: white;
$drawer-border-color: black;
$drawer-transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
$drawer-header-color: black;

:host {
  font-family: 'GE Inspira Sans', sans-serif;
  z-index: 10;
  position: fixed;
  top: 0;
  width: var(--ns-theme-drawer-width, 320px);
  height: 100%;
  background-color: var(--ns-theme-drawer-background-color, $drawer-background-color);
  border-right-color: var(--ns-theme-drawer-border-color, $drawer-border-color);
  box-shadow: none;
  will-change: transform;
  transition: $drawer-transition;
  display: block;
  contain: content;
  user-select: none;
}

button {
  outline: none;
}

//Right
:host(.#{$prefix}__drawer--right) {
  right: 0;
  position: fixed;
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 12%);
  //transform: translate3d($drawer-width, 0px, 0px);
}

//Left
:host(.#{$prefix}__drawer--left) {
  left: 0;
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 12%);
  transform: translate3d(-$drawer-width, 0px, 0px);
}
//Top
:host(.#{$prefix}__drawer--top) {
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 12%);
  right: 0;
  top: 0;
  bottom: auto;
  left: 0;
  width: 100%;
  min-height: 100px;
  max-height: $drawer-width;
  height: auto;
}

//Bottom
:host(.#{$prefix}__drawer--bottom) {
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 12%);
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  min-height: 100px;
  //transform: translate3d(0px, $drawer-width, 0px);
}

//.drawer-header
:host header {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgb(255 255 255 / 20%);
  box-shadow: 0 0 3px 2px rgb(0 0 0 / 12%);
  height: 3rem;
  color: var(--px-app-nav-item-text-color, $drawer-header-color);
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

:host h3 {
  text-align: left;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
}

:host nav {
  max-height: var(--ns-theme-drawer-max-height, 90vh);
  overflow-y: auto;
}

.btn {
  color: var(--px-btn-tertiary-color, #007acc);
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--px-btn-tertiary-color, white);
  border: 0;
  font-weight: 500;
  text-shadow: 0 1px 0 #fff;
  &:hover {
    background-color: var(--px-btn-tertiary-background--hover, whitesmoke);
  }
}

.#{$prefix}__drawer {
  &--fixed {
    position: fixed;
  }

  &-toggle {
    box-sizing: border-box;
  }

  &-toggle__link {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: transparent;
  }

  &-toggle__link svg {
    stroke: var(--px-base-color, rgba(0, 0, 0, 0.5)) !important;
  }

  &-toggle__link:link,
  &-toggle__link:visited {
    color: var(--iron-icon-stroke-color, #5d707d);
  }

  &-nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .px-nav-close {
    stroke: var(--px-base-text-color, white);
  }
  &-nav-item a {
    display: block;
    padding: 1.2rem 1.5rem;
    text-decoration: none;
    color: var(--px-app-nav-item-text-color, white);
  }
  &-nav-item a:hover {
    color: var(--px-app-nav-item-text-color--hover, #ddd);
    background-color: var(--px-app-nav-item-background-color--hover, #333);
  }
  &-nav-item a:active {
    color: var(--px-app-nav-item-text-color--pressed, #aaa);
    background-color: var(--px-app-nav-item-background-color--pressed, #333);
  }
  &-nav-item--selected {
    color: var(--px-app-nav-item-text-color--selected, #a9a9a9);
    background-color: var(--px-app-nav-item-background-color--selected, #fff);
  }

  &-nav {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      &.divider {
        padding: 0.5rem;
        background: var(--px-app-nav-item-background-color, whitesmoke);
      }

      a {
        height: 44px;
        display: flex;
        padding: 0 1rem;
        text-decoration: none;
        align-items: center;

        color: var(--px-app-nav-item-text-color, green);
        //

        &:hover {
          color: var(--px-app-nav-item-text-color--hover, green);
          background: var(--px-app-nav-item-background-color--hover, blue);
        }
        &:active {
          color: var(--px-app-nav-item-text-color--pressed, green);
          background: var(--px-app-nav-item-background-color--pressed, green);
        }
      }
    }
  }
}
