$prefix: 'theme';
$header-background-color: rgb(235, 239, 242);
$header-border-bottom: 1px solid rgb(196, 207, 214);
$header-color: black;
$header-max-height: 50px;

/**
 * @prop --px-app-nav-item-text-color: Color of the nav item text
 * @prop --px-app-nav-item-text-color--hover: Color of the nav item text when hovered
 *
 * @prop --px-app-nav-background-color: Color of the nav item background
 * @prop --px-app-nav-item-background-color--hover: Color of the nav item background when hovered
 *
 * @prop --px-app-nav-box-shadow: Color of the nav box shadow
 */
:host {
  --theme-navbar-color: #b6c3cb;
  --theme-navbar-brand-color: #b6c3cb;
  --theme-navbar-background-color: white;

  --theme-navbar-link-color: #b6c3cb;
  --theme-navbar-link-color--hover: green;

  --theme-navbar-dropdown-background-color: #23343e;
  --theme-navbar-dropdown-border: none;

  --theme-navbar-link-background-color--hover: #888;
  box-sizing: border-box;
  min-block-size: fit-content;
  display: block;
}

:host > * {
  box-sizing: border-box;
}

.#{$prefix}__header {
  height: $header-max-height;
  background-color: var(--apm-theme-navbar-background-color, $header-background-color);
  border-bottom: var(--apm-theme-navbar-border, $header-border-bottom);

  //color: var(--theme-navbar-color, $header-color);

  //box-shadow: var(--px-app-nav-box-shadow, 0 2px 4px var(--px-shadow-navigation, rgba(0, 0, 0, 0.2)));

  box-sizing: border-box;
  width: 100%;
  display: inline-grid;
  grid-auto-flow: column;
  //grid-template-columns: 3rem 3rem 1fr 3rem;
  grid-template-columns: 50px 0fr minmax(0px, 1fr);

  justify-content: center;
  align-items: center;
  user-select: none;

  button {
    outline: none;
  }

  button:hover {
    color: var(--px-app-nav-item-text-color--hover, #d3d3d3);
    background-color: var(--px-app-nav-item-background-color--hover, #a9a9a9);
  }
  button:active {
    color: var(--px-app-nav-item-text-color--pressed, #a9a9a9);
    background-color: var(--px-app-nav-item-background-color--pressed, #d3d3d3);
  }

  svg {
    stroke: var(--px-app-nav-item-text-color, rgba(0, 0, 0, 0.5));
    fill: none;
  }
}

//.navbar-toggler
.#{$prefix}__toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border: none;
  color: var(--px-app-nav-item-text-color, white);
  align-self: stretch;
  &:hover,
  &:focus {
    text-decoration: none;
  }
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &-icon {
    color: var(--px-app-nav-item-text-color, rgba(0, 0, 0, 0.5));
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    content: '';
    background: no-repeat center center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//.nav
.#{$prefix}__nav {
  //.nav-item
  &-item {
    display: flex;
    position: relative;
    align-items: stretch;
    align-self: stretch;
    user-select: none;
    //height: 52px;
    a,
    button {
      user-select: none;
      outline: none;
      display: flex;
      //padding: 1rem 1.1rem;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: transparent;
      border: none;
      font-size: inherit;
      font-family: 'GE Inspira Sans', sans-serif;
    }
    &:hover {
      color: var(--px-app-nav-item-text-color--hover, #d3d3d3);
      background-color: var(--px-app-nav-item-background-color--hover, #a9a9a9);
    }
    &:active {
      color: var(--px-app-nav-item-text-color--pressed, #a9a9a9);
      background-color: var(--px-app-nav-item-background-color--pressed, #d3d3d3);
    }
    &.active {
      background-color: var(--theme-navbar-link-background-color--active, #1e2a32);
      border-top: 2px solid var(--theme-navbar-link-border-color--active, #17819b);
    }
    &--selected {
      color: var(--px-app-nav-item-text-color--selected, #a9a9a9);
      background-color: var(--px-app-nav-item-background-color--selected, #fff);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        height: var(--px-app-nav-item-stripe-size--selected, 0.13333rem);
        background-color: var(--px-app-nav-item-stripe-color--selected, #00f);
      }
    }
  }
}
//.nav
.#{$prefix}__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  //.nav-link
  &-link {
    color: var(--px-app-nav-item-text-color, rgba(0, 0, 0, 0.5));
    align-self: stretch;
  }

  /* Style the close button (span) */
  .close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }

  .close:hover {
    background: #bbb;
  }
}

// user
.#{$prefix}__user {
  display: flex;
  align-content: center;
  align-items: center;
}

//avatar
.#{$prefix}__avatar {
  max-height: 22px;
  border-radius: 50%;
  margin: 0;
  margin-right: 0.5rem;
}

// dropdown
.#{$prefix}__dropdown {
  position: relative;
  display: inline-block;

  &-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: var(--theme-dropdown-divider, 1px solid black);
  }
  &-item {
    display: block;
    //width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: var(--px-app-nav-subitem-text-color, #212529);
    background-color: var(--px-app-nav-subitem-background-color, white);
    &:hover {
      background-color: var(--px-app-nav-subitem-background-color--hover, gray);
      color: var(--px-app-nav-subitem-text-color--hover, black);
    }

    &:active {
      background-color: var(--px-app-nav-subitem-background-color--selected, whitesmoke);
      color: var(--px-app-nav-subitem-text-color--selected, black);
    }
  }
  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: var(--theme-navbar-dropdown-background-color, white);
    background-clip: padding-box;
    border: var(--theme-navbar-dropdown-border, 1px solid rgba(0, 0, 0, 0.15));
    box-shadow: var(--px-app-nav-box-shadow, 0 2px 4px var(--px-shadow-navigation, rgba(0, 0, 0, 0.2)));
  }

  &:hover .#{$prefix}__dropdown-menu {
    display: block;
  }
  &--right {
    .#{$prefix}__dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}

.px-icon svg {
  fill: var(--iron-icon-fill-color, none);
  stroke: var(--iron-icon-stroke-color, currentColor);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  width: var(--iron-icon-width);
  height: var(--iron-icon-height);
  color: inherit !important;
}
