$prefix: 'ns-theme';

$tab-min-width: 150px;
$tabs-min-height: 50px;
$tabs-font-color: #777;
$tabs-font-color--active: #777;
$tabs-border-color--active: #09809c;
$tabs-background-color--active: white;
$tabs-link-color: #222;

$tabs-border--active: 2px solid #09809c;
$tabs-border: 1px solid #b9b9b9;

:host {
  //variables
  --ns-theme-tabs-link-color: $tabs-link-color;
}


:host {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  font-family: GE Inspira Sans, sans-serif;


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: $tabs-font-color;
    align-self: stretch;
    display: flex;
    justify-content: center;
  }

  

  // .ns-theme-tabs__list
  .ns-theme__tabs {
    display: flex;
    //grid-auto-flow: column;
    //grid-auto-columns: min-content;
    max-width: calc(90vw - 50px);
    overflow-x: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    background:
      /* Shadow covers */ linear-gradient(90deg, transparent 30%, rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 100% 0,
      /* Shadows */ radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
    background:
      /* Shadow covers */ linear-gradient(90deg, transparent 30%, rgba(255, 255, 255, 0)), linear-gradient(90deg, rgba(255, 255, 255, 0), white 70%) 100% 0,
      /* Shadows */ radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
  }



  .ns-theme__tab-item__label {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // .ns-theme-tabs__list-item
  .ns-theme__tab-item {
    
    &:first-child {
      //width: 55px;
      border-left: $tabs-border;
    }

    border-right: $tabs-border;
    border-left: 1px solid transparent;
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
    &.home {

      .px-icon {
        height: 32px;
      }

      //Home Tab Link
      .ns-theme__tab-link {
        width: $tabs-min-height;
        min-width: auto;
        padding: 0;
        .close {
          display: none;
        }
      }
    }

    &.active {
      background: $tabs-background-color--active;
      
      // This is the white border on active tab to bleed over onto canvas
      &:after {
        content: '';
        background: $tabs-background-color--active;
        height: 1px;
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
      // This is the blue border on top of active tab
      a{
        &:before {
          content: '';
          height: 3px;
          position: absolute;
          top: 0;
          left: -1px;
          right: -1px;
          background-color: $tabs-border-color--active;
          color: $tabs-font-color--active;
        }
      }
    }
  }



  // .ns-theme-tabs__list-link
  .ns-theme__tab-link {
    
    color: $tabs-link-color;
    font-weight: 500;
    min-width: $tab-min-width;
    padding-left: 0.5rem;
    flex: 1;
    //height: 51px;
    cursor: pointer;
    min-height: $tabs-min-height;
    margin-right: 0;
    border: none !important;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      //	border-top: $tabs-border--active;
    }
    
    
  }

  // Title
  .title {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 0.7rem;
    color: #999;
  }

  .close {
    float: right;
    font-size: 1rem;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    &:hover,
    &:active {
      background: rgba(0, 0, 0, 0.2);
    }
  }

  .fa, .icon {
    margin: 0 1rem;
  }
  .px-icon svg {
    fill: var(--iron-icon-fill-color, none);
    stroke: var(--iron-icon-stroke-color, currentColor);
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    width: var(--iron-icon-width);
    height: var(--iron-icon-height);
    color: inherit !important;
  }

  .close:not(:disabled):not(.disabled):hover,
  .close:not(:disabled):not(.disabled):focus {
    opacity: 0.75;
  }

  button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  a.close.disabled {
    pointer-events: none;
  }
}
